<section class="min-h-screen flex flex-col relative">
    <!-- division 1 -->
    <div class="flex flex-row flex-none pt-12 pl-12 pr-12 reveal-section-0">
        <div class="flex justify-between w-full items-center flex-wrap">
            <div class="reveal-section-0-item">{{ source('logoReactic.svg') }}</div>
            <div class="reveal-section-0-item">
                <a href="{{ path('app_form') }}" class="text-teal-900 hover:bg-teal-900 hover:text-primary transition-all duration-300 border-2 border-teal-400 p-2.5 rounded-3xl">Un projet ?</a>
            </div>
        </div>
    </div>
    <!-- fin de division 1 -->

    <!-- division 2 (image centrale) -->
    <div class="relative flex justify-center items-center min-h-screen reveal-section-0-item">
        {{ source('pictures/cIrcleReactic.svg') }}

        <!-- Texte autour de l'image, rapproché à 20px et taille réduite à "md" -->
        <!-- L'ENTREPRISE centré au-dessus de l'image -->
        <div class="absolute text-white xl:text-white sm:text-teal-900 md:text-teal-900 text-md
                    reveal-section-0-item"
             style="top: calc(50% - 350px); left: 50%; transform: translateX(-50%);"
        >L'ENTREPRISE</div>

        <!-- L'AUDIENCE à droite de l'image -->
        <div class="absolute top-1/2 left-1/2 transform translate-x-72 text-white xl:text-white sm:text-teal-900 md:text-teal-900 reveal-section-0-item">L’AUDIENCE</div>

        <!-- LA TECHNOLOGIE à gauche de l'image -->
        <div class="absolute top-1/2 right-1/2 transform -translate-x-72 text-white xl:text-white sm:text-teal-900 md:text-teal-900 reveal-section-0-item">LA TECHNOLOGIE</div>
    </div>
    <!-- fin de division 2 -->

    <!-- division 3 -->
    <div class="flex flex-row flex-none"></div>
    <!-- fin de division 3 -->
</section>
