{% extends 'base.html.twig' %}

{% block body %}
    <div class="pl-12 pr-12">
        {# Section 1 (par exemple, un header commun ou une navigation) #}
        {% block section1 %}
            {{ include('layout/default_section_1.html.twig') }}
        {% endblock %}

        {# Next Sections (le contenu dynamique) #}
        {% block next_sections %}{% endblock %}
    </div>
{% endblock %}
